.alt_variations_wrap {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	padding: 35px 15px;
}

.alt_variations_wrap a:hover {
	text-decoration: none;
}

.alt_variations_wrap a .var_lnk_inner_wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 1.25rem 1.5rem;
}

.alt_variations_wrap a img {
	display: flex;
	align-items: center;
	height: auto;
	max-height: 100px;
}


.alt_variations_wrap a .var_title {
	display: flex;
	flex-direction: column;
	margin-right: 1.25rem;
	text-transform: capitalize;
	color: #000;

}

.alt_variations_groups_wrap {
	max-width: 470px;
	padding-top: 20px;
}

.alt_variations_groups_wrap .var_header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background: none;
	overflow: hidden;
	border: 0;
	cursor: pointer;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	padding: 1.25rem 0;
	width: 100%;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	min-height: 5.625rem;
	color: #484848;
	text-decoration: none;
	border-top: 1px solid #dfdfdf;
	font-weight: bold;
}

.alt_variations_groups_wrap .var_header:last-child {
	border-bottom: 1px solid #dfdfdf;
}


.alt_variations_groups_wrap .var_header .attr_wrap {
	display: flex;
	width: 90%;
	justify-content: space-between;
	flex-direction: column;
	text-align: left;
}

.alt_variations_groups_wrap .var_header .attr_subtitle {
	font-weight: normal;
	padding: 1rem 0 0.1rem 0;
}

.alt_variations_title {
	font-weight: bold;
	font-size: 15px;
	margin-top: 0px;
	margin-bottom: 2rem;
	width: 100%;
}

.alt_variations_wrap .woocommerce-product-gallery__image,
.alt_variations_wrap .woocommerce-product-gallery__image--placeholder {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	border: 1px solid #dfdfdf;
	margin-bottom: 2rem;
	/*min-width: 134px;*/
	flex: 48%;
	width: 200px;
}

.alt_variations_wrap .woocommerce-product-gallery__image:nth-child(even),
.alt_variations_wrap .woocommerce-product-gallery__image--placeholder:nth-child(even) {
	margin-right: 2%;
}

.alt_variations_wrap .woocommerce-product-gallery__image:hover {
	border-color: #929292;
}

.woocommerce-product-gallery__image.active {
	border: 2px solid #000;
}

.range-revamp-svg-icon {
	display: inline-block;
	height: 1.5rem;
	width: 1.5rem;
	vertical-align: middle;
	fill: currentColor;
	-webkit-transition-property: fill, -webkit-transform;
	transition-property: fill, -webkit-transform;
	-o-transition-property: transform, fill;
	transition-property: transform, fill;
	transition-property: transform, fill, -webkit-transform;
	-webkit-transition-duration: .25s;
	-o-transition-duration: .25s;
	transition-duration: .25s;
	-webkit-transition-timing-function: cubic-bezier(.4, 0, .4, 1);
	-o-transition-timing-function: cubic-bezier(.4, 0, .4, 1);
	transition-timing-function: cubic-bezier(.4, 0, .4, 1);
}

.modal.variations {
	position: fixed;
	z-index: 10000;
	box-shadow: none;
	width: 100%;
	max-width: 100%;
	background: transparent;
	margin: 0 auto;
}

.modal.variations .modal-dialog {
	margin: 10px auto !important;
	/*width: auto;*/
	overflow-y: scroll;
	max-height: 100%;
}

.modal.variations .modal-content {
	border-radius: 0;
}

.modal.variations button.close {
	width: 40px !important;
	height: 40px !important;
	position: absolute;
	top: 15px !important;
	right: 20px !important;
	background: transparent url(../img/close.svg) no-repeat center !important;
}

@media(max-width: 767px) {
	.modal.variations {
		padding: 0;
	}
}